/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
  font-family: 'Open Sans', sans-serif;
  /* color: #1F1534; */
}

nav {
  margin-bottom: 55px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav, h1 {
  font-family: 'Mulish', sans-serif;
  font-weight: normal;
  color: #1F1534;
}

h1 {
  line-height: 56px;
  font-size: 49px;
  width: 489px;
}
h1 span {
  color: #89C5CC;
}

h1 span, a:hover, footer a {
  font-weight: bold;
}
/* nav {
  display: flex;
  text-align: center;
  justify-content: center;
} */
ul {
  list-style: none;
  display: flex;
  gap: 48px;
}

/* ul li + li {
  padding-left: 48px;
} */

a {
  text-decoration: none;
  color: #1F1534;
}

p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;
}

button {
  text-transform: uppercase;
}